body{
    color: purple;
    background-color: rebeccapurple;
    font: normal 18px/1.5;
    font-weight: 90;
    padding: 50px 0;
    
}

.topic {
    width: 200%;
    max-width: 1200px;
    margin: -1500 0 0 auto;
    display: flex;
    padding: 30px;
    
}

.container {
    width: 400%;
    max-width: 1200px;
    margin: -1500 0 0 auto;
    margin-block: 1px;
    margin-left: -100px;
}

.container * {
    box-sizing: border-box;
    align-items: flex-start;
}

.flex-outer, 
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li, 
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child)  {
    margin-bottom: 20px;

}

.flex-outer li label, 
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label, 
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *, 
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p { 
    margin: 0;
}

.flex-outer li input:not([type='checkbox']), 
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: 0px;
    padding: 8px 16px;
    border: none;
    background: floralwhite;
    color: white;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner {
    width: 100px;
}